@charset "utf-8";
#contact{
  height: 800px;
  background-image: url(../img/2334277.jpg);
  background-size: cover;
  position: relative;
}
#contact h3{
  font-weight: bold;
  color: #fff;
}
form{
  width: 100%;
  background: #fff;
}

fieldset{
  margin-top: 100px;
  margin-left: 80px;
  width: 70%;
  padding-top: 40px;
}

.mail_box,.field{
  width: 450px;
  background: #fff;
}
fieldset legend, fieldset label{display: none;}
fieldset input{
  border: 1px solid #838383;
  width: 100%;
  height: 38px;
  margin-bottom: 20px;
  color: #838383;
  text-indent: 15px;
}

fieldset textarea{
  width: 100%;
  border: 1px solid #838383;
  height: 250px;
  margin-bottom: 20px;
}

fieldset .action{
  text-align: left;
 
}

fieldset input[type=submit]{
  border:none;
  padding: 13px 20px 20px 0px;
  background: rgb(255,74,3);
  color: #fff;
  width: 30%;
  position: relative;
}
.sns{
  position: absolute;
  top: 180px;right: 100px;
  z-index: 100;
  width: 460px;height: 600px;
  padding: 60px 15px 0px 15px;
  box-sizing: border-box;
  float: left;
  font-size: 30px;
  text-align: center;
  background: #9fa1a6;
  background-image: url(../images/424959-1.jpg);
  background-repeat: no-repeat;
  background-position: bottom 20px left 20px;
  background-blend-mode: multiply;
  box-shadow: 0px 0px 5px #333;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sns h3{
  padding-top: 30px;
  padding-bottom: 30px;
}
.sns p{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  padding-left: 10px;
}
.sns i.fas, .sns i.fab{
  font-size: 18px;
  color: #fff;
  
}
.sns ul{
  position: absolute;bottom: 70px;right: 50px;
  display: flex;
  z-index: 10;
}
.sns ul li{margin: 0px 10px;}