@charset "utf-8";
  /*tabcont - 일정공간안에서 탭메뉴 클릭시 해당 콘텐츠가 보이는 영역*/
  a{text-decoration:none;color:#333;}
  #publishing{
    height: 900px;
    /*border:1px solid #000;*/
  }
  #publishing .aa{
    position: relative; 
    top: 30px;
    font-size: 30px;
    color: #4e50d5;
  }
  #publishing .a01{
    left: 130px;
  }
  #publishing .a02{
    left:390px;
  }
  #publishing .a03{
    left: 650px;
  }
  #publishing .a04{
    left: 915px;
  }
  #tab_con{
    width: 1200px;height: 680px;
    margin: 0px auto;
    position: relative;
    left: -10px;top: 30px;
  }
  #publishing > h3{
    text-align: center;
    padding: 20px 0px;
  }
  #tab_con ul{
    display: flex;
  }
  #tab_con ul > li{
    width: 25%;height: 40px;
    text-align: center;
  }
  #tab_con ul > li > a{
    display: block;
    line-height: 40px;
    font-size: 18px;
    background: #ccc;
    font-family: '나눔고딕';
    
  }
  .t_on{
    background: #26599c !important;
    color: #fff !important;
  }
  #tab_con ul .con{
    height: 641px;position: absolute;
    width: 100%;
    bottom: 0px;left: 0px;
    /*display: none;*/
  }
  .c01{background-image: url(../images/art01.png);}
  .c02{background-image:url(../images/s_m01.png);}
  .c03{background-image: url(../images/b_r01.png);}
  .c04{background-image: url(../images/b_f01.png);}
  .pb dl{
    float: left;
    position: absolute;top: 200px;
  }
  .pb dl > dt{
    color: #fff;
    font-family: '나눔고딕';
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    background:  rgb(54,131,247);
    width: 130px;
    float: left;
    clear: left;/*다음줄에 제목,내용이 내려가도록*/
    text-indent: 4px;
    margin-left: 10px;
    margin-top: 4px;
    text-align: left;
  }
  .pb dl > dd{
    width: 300px;
    padding: 10px 0px 10px 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 6px;
    float: left;
    color: #000;
    background: #fff;
    font-family: '나눔고딕';
    font-size: 14px;
    
    text-align: left;
    letter-spacing: -0.5px;
  }
  .pb dl > dd > a{
    font-family: '나눔고딕';
    font-size: 14px;
    
    background: none !important;
    color: #333 !important;
  }
  .pb dt, .pb dd{
    padding:2px 0px;
  }
  .color01{color: #49443f;}
  .color02{color: #059c92;}
  .color03{color: #fadc71;}
  .color04{color: #148e3c;}
  .color05{color: #055fa4;}
  .color06{color: #88c8d5;}
  .color07{color: #de1983;}
  .color08{color: #486195;}
  .color09{color: #ff83b5;}
  .color10{color: #0dcbaa;}
  .color11{color: #5079ed;}
  .color12{color: #9f9180;}
  
  



  
  
  