@charset "utf-8";
  /*tabcont - 일정공간안에서 탭메뉴 클릭시 해당 콘텐츠가 보이는 영역*/
  #work{
    height: 1050px;
    margin: 0px auto;
    position: relative;
  }
  #work > h3{
    text-align: center;
    padding: 0px 0px 50px 0px;
  }
  .gallery{
    position: absolute;right:33px;
    margin: 0px auto 200px auto;
    width: 1180px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(4,auto);
    grid-template-rows: repeat(3,250px);
  }
  .gallery > li{
    overflow: hidden;
  }
  .gallery > li img{
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .gallery > li img:hover{
    transform: scale(1.1);
    filter:opacity(0.7) drop-shadow(0 0 0 #43c3c4);
  }
  
  
  